<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Axeta{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{{ asset('favicon.ico') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('lib/bootstrap-5.3.2.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('lib/highlight/a11y-light.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/common.css') }}?t={{ 'now'|date('U') }}">
    <script type="text/javascript" src="{{ asset('lib/bootstrap.bundle-5.3.2.js') }}"></script>
    <script type="text/javascript" src="{{ asset('lib/jquery-3.7.1.js') }}"></script>
    <script type="text/javascript" src="{{ asset('lib/vue-2.7.14.js') }}"></script>
    <script type="text/javascript" src="{{ asset('lib/highlight/highlight.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/str.js') }}"></script>
    <script type="text/javascript" src="{{ asset('lib/highlight/php.min.js') }}"></script>
    <script type="text/javascript" src="https://api-maps.yandex.ru/2.1/?apikey=3ee8e452-30dd-4189-ad62-22b831341dee&lang=ru_RU"></script>
</head>
<body>
{% block body %}{% endblock %}
</body>
</html>
