<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Axeta{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{{ asset('favicon.ico') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('lib/bootstrap-5.3.2.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('lib/bootstrap-print.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('lib/highlight/a11y-light.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/common.css') }}">
    <script type="text/javascript" src="{{ asset('lib/vue-2.7.14.js') }}"></script>
    <script type="text/javascript" src="{{ asset('lib/highlight/highlight.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('lib/highlight/php.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('lib/highlight.min.js') }}"></script>
    <script type="text/javascript"
            src="https://api-maps.yandex.ru/2.1/?apikey=3ee8e452-30dd-4189-ad62-22b831341dee&lang=ru_RU"></script>
</head>
<body>
<div class="d-flex justify-content-center spinner-wrapper">
    <div class="spinner-border spinner" role="status" id="loading"></div>
</div>
{% block body %}{% endblock %}
</body>
</html>
